/*This is the main styling file*/
/*importing all the other styling files*/
@import url('/assests/styles/mainpage/header.css');
@import url('/assests/styles/mainpage/sidebar.css');
@import url('/assests/styles/mainpage/footer.css');
@import url('/assests/styles/mainpage/content.css');
/*styling the body*/
body{
    background-color: #eeeeee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    display: grid;
    width: 100%;
    margin: 10px;
    margin-top: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
    grid-template-areas: 
        "hd"
        "sb"
        "main"
        "ft";
}
@media (min-width:600px) and (max-width:1024px) {
    .container{
        display: grid;
        width: 99%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        gap: 10px;
        grid-template-areas:
            "hd hd"
            "sb main"
            "ft ft";
    }
    
}
/* for desktops */
@media(min-width: 1025px){
    .container{
        display: grid;
        width: 99%;
        grid-template-columns: 115px repeat(7,1fr);
        grid-template-rows: 70px 550px 1fr;
        gap: 10px;
        grid-template-areas: 
            "hd hd hd hd hd hd hd hd"
            "sb main main main main main main main"
            "ft ft ft ft ft ft ft ft";
    }
    .header{
        height: 70px;
    }
    .content{
        flex-direction: row;
    }
}

